.circular {
    border-radius: 50%;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}


body {
    box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
}

.contact_button {
    width: 50px;
    margin: 3px;
}

.main_header_link {
    color: white;
    text-decoration: none;
}
.main_header_link:hover {
    color: white;
}

.footer-link {
    color: grey;
    text-decoration: none;
    font-size: 80%
}
.footer-link:hover {
    color: grey;
}

.sub-cover-image {
    border-radius: 10px;
    min-width: 20px;
    max-width:75%;
}

.box-border {
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

/* Experimental sandbox elements */

.text-clip-image-1 {
    background: url("https://media.cntraveler.com/photos/57fea9ec8584f8cd20e65f15/16:9/w_1920%2Cc_limit/Aerial-One%26OnlyReethiRah-Maldives-CRHotel.jpg");
    background-attachment: fixed; /* This will carry the same background across all these elements.  Without this each element will have its own new background. */

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* fall back colour of text if browser does not support webkit */
    color: red;
}

.text-clip-image-2 {
    background: url("https://media.cntraveler.com/photos/57fea9ec8584f8cd20e65f15/16:9/w_1920%2Cc_limit/Aerial-One%26OnlyReethiRah-Maldives-CRHotel.jpg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 50% 50%;
    /* fall back colour of text if browser does not support webkit */
    color: red;
}

.text-clip-image-3 {
    position: relative;
    margin: 1em;
    padding: .5em .75em;
    background: url("https://media.cntraveler.com/photos/57fea9ec8584f8cd20e65f15/16:9/w_1920%2Cc_limit/Aerial-One%26OnlyReethiRah-Maldives-CRHotel.jpg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 50% 50%;
    /* fall back colour of text if browser does not support webkit */
    color: red;
}

.text-clip-image-3:before,
.text-clip-image-3:after
{
    position: absolute;
    content: '';
}

/* The following 'before' selector creates the background image. */
.text-clip-image-3:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("https://media.cntraveler.com/photos/57fea9ec8584f8cd20e65f15/16:9/w_1920%2Cc_limit/Aerial-One%26OnlyReethiRah-Maldives-CRHotel.jpg");
    background-size: cover;
    background-position: 50% 50%;   
}

/* The following 'after' selector creates the black box */
.text-clip-image-3:after {
    z-index: -1;
    top: 0.75em;
    right: .75em;
    bottom: .75em;
    left: .75em;
    background-color: #000;
    opacity: 0.75;
}

/* The following is related to the text itself (not the background behind the text) */
.text-clip-image-4 {
    position: relative;
    margin: 1em;
    padding: .5em .75em;
    background: url("https://media.cntraveler.com/photos/57fea9ec8584f8cd20e65f15/16:9/w_1920%2Cc_limit/Aerial-One%26OnlyReethiRah-Maldives-CRHotel.jpg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 0% 0%;
    /* fall back colour of text if browser does not support webkit */
    color: red;
}

.text-clip-image-4:before,
.text-clip-image-4:after
{
    position: absolute;
    content: '';
}

/* The following is relevant to the backgroun behind the text. */
.text-clip-image-4:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("https://media.cntraveler.com/photos/57fea9ec8584f8cd20e65f15/16:9/w_1920%2Cc_limit/Aerial-One%26OnlyReethiRah-Maldives-CRHotel.jpg");
    background-size: cover;
    background-position: 50% 50%;
}